{% extends "base/base.html" %}

{% block title %}Bievenido{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <p><h4>Almacen: {{almacen}}</h4></p>

    {% else %}
        <a href="{% url 'sign_up' %}" role="button" class="btn btn-primary btn-lg btn-block">Registrate</a>
        <a href="{% url 'sign_in' %}" role="button" class="btn btn-primary btn-lg btn-block">Iniciar sesión</a>
    {% endif %}


    
{% endblock content %}