{% extends 'base/base.html' %}
{% block header %}
<p><h4>Listado de Roles</h4></p>
{% endblock%}
{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <td>Role Id</td>
        <td>Role</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for role in object_list %}
        <tr>
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td><a class="btn btn-outline-warning" href="{% url 'roleEdit' role.id %}" role="button">Editar</a>
                <a class="btn btn-outline-secondary" href="" role="button">Permisos</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h4>No existen roles registrados</h4>
        {% endif %}
    </tbody>
    </table>
{% endblock %}