{% extends 'base/base.html' %}
{% block header %}
{% if add %}
<p><h4>Agregar rol</h4></p>
{% else %}
<p><h4>Editar rol</h4></p>
{% endif%}
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.role.name}}">{{form.role.label}}</label>
				{{form.name}}
			</div>
            <div class="form-group">
				<label for="{{form.almacen.name}}">{{form.almacen.label}}</label>
				{{form.almacen}}
			</div>
		</div>
	</div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'rolesList' %}" role="button" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}