{% extends 'base/base.html' %}
{% block header %}
<p>
    <h4>Listado de almacenes registrados</h4>
</p>


{% endblock%}
{% block content %}
{% if object_list %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Almacen</td>
            <td>Direccion</td>
            <td>Editar</td>
        </tr>
    </thead>
    <tbody>
        {% for stg in object_list %}
        <tr>
            <td>{{stg.id}}</p></td>
            <td>{{stg.nombre}}</p></td>
            <td>{{stg.direccion}}</p></td>
            <td>
                <a class="btn btn-outline-warning" href="{% url 'storageEdit' stg.id %}" role="button">Editar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h5>No existen almacenes registrados</h5>
        {% endif %}
</tbody>
</table>
<div id="popup" class="modal fade" role="dialog">

</div>
{% endblock %}
