{% extends 'base/base.html' %}
{% block header %}
<p>
    <h4>Listado de usuarios registrados</h4>
</p>
{% endblock%}
{% block content %}
{% if object_list %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre Usuario</td>
            <td>Email</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Editar</td>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{user.id}}</p></td>
            <td>{{user.username}}</p></td>
            <td>{{user.email}}</p></td>
            <td>{{user.first_name}}</p></td>
            <td>{{user.last_name}}</p></td>
            <td>
                <a class="btn btn-outline-warning" href="{% url 'userEdit' user.id %}" role="button">Editar</a>
                <a class="btn btn-outline-danger" href="{% url 'userDelete' user.id %}" role="button">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h5>No existen usuarios registrados</h5>
        {% endif %}
</tbody>
</table>
{% endblock %}
